.section {
  background: #1f1f22;
  padding: 1rem 0.7rem;
  border: 1px solid #1a1a1d;
  border-radius: 1rem;
}

.dashboard {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(4, 1fr);
  gap: 10px;
}

.hero {
  grid-column: 1;
  grid-row: 1 span 2;
}